---
layout: default
title: Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-12">
        {% include widgets/profile_card_full.html %}

        {% if site.data.display.homepage.show_experience or site.data.profile.education %}
        <div class="row">
            {% if site.data.display.homepage.show_experience %}
            <div class="col-md-6">
                {% include widgets/experience_card.html %}
            </div>
            {% endif %}

            {% if site.data.profile.education %}
            <div class="col-md-6">
                {% include widgets/education_card.html %}
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign all_pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
        
        <div class="my-3 p-3 bg-white shadow-sm rounded-xl">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><i class="fas fa-star"></i> Selected Publications</h5>
                <a href="{{ 'publications' | relative_url }}" class="btn btn-outline-primary btn-sm">
                    View All Publications <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>

        {% assign pubs_3d_gen = all_pubs | where: "category", "3D Generative AI" %}
        {% if pubs_3d_gen.size > 0 %}
        {% include widgets/publication_card_no_link.html publications=pubs_3d_gen title='<i class="fas fa-cube"></i> 3D Generative AI' %}
        {% endif %}

        {% assign pubs_motion = all_pubs | where: "category", "Motion Generative AI" %}
        {% if pubs_motion.size > 0 %}
        {% include widgets/publication_card_no_link.html publications=pubs_motion title='<i class="fas fa-running"></i> Motion Generative AI' %}
        {% endif %}

        {% assign pubs_understanding = all_pubs | where: "category", "3D Scene Understanding" %}
        {% if pubs_understanding.size > 0 %}
        {% include widgets/publication_card_no_link.html publications=pubs_understanding title='<i class="fas fa-eye"></i> 3D Scene Understanding' %}
        {% endif %}

        {% assign pubs_reconstruction = all_pubs | where: "category", "3D Scene Reconstruction" %}
        {% if pubs_reconstruction.size > 0 %}
        {% include widgets/publication_card_no_link.html publications=pubs_reconstruction title='<i class="fas fa-project-diagram"></i> 3D Scene Reconstruction' %}
        {% endif %}
        {% endif %}
    </div>
</div>
